/* Estilos básicos para o formulário */
form {
    
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Estilos para os inputs */
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilo para o botão de submit */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Hover no botão */
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  