<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="Name" placeholder="Name">
    <input type="text" formControlName="Image" placeholder="Image">
    <input type="text" formControlName="Description" placeholder="Description">
    <input type="text" formControlName="Actors" placeholder="Actors">
    <input type="text" formControlName="Genre" placeholder="Genre">
    <input type="text" formControlName="Release_date" placeholder="Release">
    <button type="submit">Salvar</button>
</form>